.navbar-brand {
	color: #9bceb4;
}
.navbar-light .navbar-nav .nav-link {
	color: #9bceb4;
	cursor: pointer;
}

.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateX(10px);
	opacity: 0;
}
  
.fade-enter-active {
	transition: opacity 0.5s;
}
.fade-leave-active {
	transition: opacity 0s;
}
  
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
  
.error-msg {
	margin-top: 1rem;
	text-align: center;
	p {
	  color: $error;
	  margin: 0;
	}
}
  